<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.franklinharper.inactivitymonitor">

  <dist:module dist:instant="true" />

  <!-- ACTIVITY_RECOGNITION permissions changed for API 29 and above -->
  <!--  New permission for API >= 29 -->
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <!--  Old permission for API <= 28 -->
  <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

<!--
      Without the FOREGROUND_SERVICE permission the OS eventually stops the app from receiving
      Activity Recognition Broadcasts.
-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!--
  Used to prevent alerting the user while a call is active.
  Unfortunately this feature doesn't work.
-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".settings.SettingsActivity"
        android:label="@string/action_settings" />

    <receiver android:name="com.franklinharper.inactivitymonitor.BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <receiver android:name=".AppBroadcastReceiver">
      <intent-filter>
        <action android:name="com.franklinharper.inactivitymonitor.TRANSITION_RECOGNITION" />
      </intent-filter>
    </receiver>

  </application>

</manifest>